[*.cs]

# Validate arguments of public methods 因为开启了Nullable，确保所有调用被调用项目全是NRT
dotnet_diagnostic.CA1062.severity = none

# # 这条规则目前有bug，只在IList上触发，而对于IEnumerable没反应，且应为BindableProperty的特殊写法，故此先禁用 2020.5.29
# https://github.com/dotnet/runtime/issues/30258
dotnet_diagnostic.CA2227.severity = none

# 标识符不应包含下划线
dotnet_diagnostic.CA1707.severity = none

# IDE0090: Use 'new(...)'
dotnet_diagnostic.IDE0090.severity = none

# CA1720: Identifier contains type name
dotnet_diagnostic.CA1720.severity = none

#CA1812:避免未实例化的内部类
# 当使用DI的时候，实现类是internal，对外是public
dotnet_diagnostic.CA1812.severity = none

# CA1716:标识符不应与关键字冲突
dotnet_diagnostic.CA1716.severity = none

# CA1054:URI 参数不应为字符串
dotnet_diagnostic.CA1054.severity = none
dotnet_diagnostic.CA1055.severity = none
dotnet_diagnostic.CA1056.severity = none

# CA2211:非常量字段不应是可见的  xamarin 的 BindableProperty全是字段
dotnet_diagnostic.CA2211.severity = none

# CA1024:在适用处使用属性 让人烦躁
dotnet_diagnostic.CA1024.severity = none