<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SteveCadwallader.CodeMaid.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SteveCadwallader.CodeMaid.Properties.Settings>
            <setting name="Cleaning_UpdateFileHeaderCSharp" serializeAs="String">
                <value>/*
 * Author：Yuzhao Bai
 * Email: yuzhaobai@outlook.com
 * The code of this file and others in HB.FullStack.* are licensed under MIT LICENSE.
 */</value>
            </setting>
            <setting name="Cleaning_RunVisualStudioRemoveAndSortUsingStatements"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Feature_BuildProgressToolWindow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Progressing_ShowProgressOnWindowsTaskbar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Progressing_ShowBuildProgressOnBuildStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Progressing_HideBuildProgressOnBuildStop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_RemoveRegions" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="General_ShowStartPageOnSolutionClose" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_UpdateEndRegionDirectives" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Feature_RemoveRegion" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="General_UseUndoTransactions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Reorganizing_AlphabetizeMembersOfTheSameGroup"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ThirdParty_UseXAMLStylerCleanup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_AutoCleanupOnFileSave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Switching_RelatedFileExtensionsExpression" serializeAs="String">
                <value>.cpp .h||.xaml .viewmodel.cs||.xml .xsd||.ascx .ascx.cs||.aspx .aspx.cs||.master .master.cs||.cshtml .cshtml.cs</value>
            </setting>
            <setting name="Cleaning_PerformPartialCleanupOnExternal" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Feature_CollapseSelectedSolutionExplorer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Feature_CollapseAllSolutionExplorer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Feature_FindInSolutionExplorer" serializeAs="String">
                <value>False</value>
            </setting>
        </SteveCadwallader.CodeMaid.Properties.Settings>
    </userSettings>
</configuration>